<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>duolaameng.jpg</string>
		<key>text</key>
		<string>原谅我吐槽，7月11号迈皋桥地铁中间西出口那个安检的女小胖子素质差的一米，登记个东西还火气大的要死，那个丑逼样眼神还要死瞪别人白个眼，原谅我看到就想吐槽，纳税人的钱都养了一些废物了。</string>
		<key>icon</key>
		<string>20151102181644_QMNxw.thumb.224_0.jpeg</string>
		<key>name</key>
		<string>蓝心诀-执</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>f7e3e0ce1e8b2860eb61bb43d9a4f0b8.png</string>
		<key>text</key>
		<string>两老公同款[害羞][害羞][害羞]@张靓颖 @王思聪 无意间就看到了，并不知道我为毛要发这个微博[doge][doge]</string>
		<key>icon</key>
		<string>70ef1dca4a7e41ee73f7ef0c2aa17662.jpg</string>
		<key>name</key>
		<string>三十三</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>3a4f8e978c706887d0973c12749dfa73.png</string>
		<key>text</key>
		<string>我总觉得大部分明星在电视上，或者在红毯上，或者节目中和现实中。都比她们自己发的微博自拍好看很多啊。。。</string>
		<key>name</key>
		<string>休闲璐</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>f1.jpg</string>
		<key>text</key>
		<string>摩托车骑行中被宝马车门撞倒，这本身是个悲剧，但看到最后我还是忍不住笑了～</string>
		<key>icon</key>
		<string>2dfd6ede41d1f28b7d0d83832650d0d5.jpg</string>
		<key>name</key>
		<string>搞笑A哥耍段子</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>m1.jpg</string>
		<key>text</key>
		<string>用王俊凯微博卡片作为信纸，寄予我最深的祝福。我正在使用“王俊凯专属明星卡片”，快来换装王俊凯同款微博卡片吧！</string>
		<key>icon</key>
		<string>ffbaa3601d6788da411ac6251759e9e9.jpg</string>
		<key>name</key>
		<string>独爱王俊凯</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>5e6c522ec44eca2ecb47d17890e22c71.png</string>
		<key>text</key>
		<string>一朋友，男，26岁，无不良癖好，朋友圈简单，唯一抽点小烟，要在合肥蜀山区潜水东路租房一间，可合租。请微博帮忙寻找</string>
		<key>name</key>
		<string>寡人要代表月亮消灭你们</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>IMG_2780.JPG</string>
		<key>text</key>
		<string>又他妈强塞一堆关注 妈的智障啊 我才几个小时没上微博啊就多这么多垃圾关注 都他妈拖黑+举报 差评</string>
		<key>icon</key>
		<string>h_main_AdgY_1f85000000c6111a.jpg</string>
		<key>name</key>
		<string>HallucinatoryHalo</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>a79cbdbcjw8evme52qf8sj20yi0yitba.jpg</string>
		<key>text</key>
		<string>今天第一次坐斑马！感觉真的好棒啊，虽然我买的六点半的票，但是听说堵车后面了，前面一趟不知道几点发车的司机就带上我了，冷气好足还有位置，司机师傅也好热情给绿色环保车点赞。拯救了一个每天从金融港游出来还没车坐的孩子！@斑马快跑官方微博 比较操心六点半那趟车我买了没上车要紧吗？</string>
		<key>name</key>
		<string>一朵卷毛菇	</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>minion.jpg</string>
		<key>text</key>
		<string>微博升等级能免费拿惊喜成长礼哦，我刚刚在#微博等级专享礼#中领取了由微博等级提供的打车百元大礼包[礼物]努力升级赢豪礼，以后致富就靠它！小伙伴们速度围</string>
		<key>icon</key>
		<string>20150818130747_M3TnS.jpeg</string>
		<key>name</key>
		<string>就这么任性-_-b</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
