<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_9_30.png</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_97_30.png</string>
				<key>name</key>
				<string>阿斯顿·马丁</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_92_30.png</string>
				<key>name</key>
				<string>阿尔法·罗密欧</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_180_30.png</string>
				<key>name</key>
				<string>AC Schnitzer</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_26_30.png</string>
				<key>name</key>
				<string>本田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_2_30.png</string>
				<key>name</key>
				<string>奔驰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_127_30.png</string>
				<key>name</key>
				<string>别克</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_30.png</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_15_30.png</string>
				<key>name</key>
				<string>比亚迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_82_30.png</string>
				<key>name</key>
				<string>保时捷</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_85_30.png</string>
				<key>name</key>
				<string>宾利</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_8_30.png</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_27_30.png</string>
				<key>name</key>
				<string>东风</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_7_30.png</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_17_30.png</string>
				<key>name</key>
				<string>福特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_91_30.png</string>
				<key>name</key>
				<string>法拉利</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_187_30.png</string>
				<key>name</key>
				<string>Faralli Mazzanti</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_96_30.png</string>
				<key>name</key>
				<string>路虎</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_94_30.png</string>
				<key>name</key>
				<string>雷克萨斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_95_30.png</string>
				<key>name</key>
				<string>林肯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_86_30.png</string>
				<key>name</key>
				<string>兰博基尼</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_80_30.png</string>
				<key>name</key>
				<string>劳斯莱斯</string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
</array>
</plist>
