<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>嘿，干啥呢</string>
		<key>time</key>
		<string>前天08：54</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>没干嘛，什么事</string>
		<key>time</key>
		<string>前天08：54</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>问你个严肃的事</string>
		<key>time</key>
		<string>前天10：21</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>在不在</string>
		<key>time</key>
		<string>昨天09：34</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>问你件事</string>
		<key>time</key>
		<string>昨天09：34</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你为什么总不搭理我???????????????????????????????????????????????????????</string>
		<key>time</key>
		<string>昨天11：27</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>就是不想理你</string>
		<key>time</key>
		<string>今天11：32</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>以后不要跟我说话了</string>
		<key>time</key>
		<string>今天11：32</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>下回看见我就当没看见下回看见我就当没看见下回看见我就当没看见下回看见我就当没看见下回看见我就当没看见下回看见我就当没看见.........................................................................................</string>
		<key>time</key>
		<string>今天11：33</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
