<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>06-团购案例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E641C351D3114F600C25212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E641C4E1D3114F600C25212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E641C591D3114F600C25212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
