<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>7a899e510fb30f248f12cd90ce95d143ac4b039c.jpg</string>
		<key>title</key>
		<string>韩盛自助烤肉</string>
		<key>price</key>
		<string>49.9</string>
		<key>buyCount</key>
		<string>79426</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8718367adab44aedf06ca092b51c8701a18bfba2.jpg</string>
		<key>title</key>
		<string>都市绿洲</string>
		<key>price</key>
		<string>128</string>
		<key>buyCount</key>
		<string>5432</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>908fa0ec08fa513d1f35ab503b6d55fbb3fbd9a5.jpg</string>
		<key>title</key>
		<string>好利来</string>
		<key>price</key>
		<string>87</string>
		<key>buyCount</key>
		<string>1198</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>83025aafa40f4bfb569f96680b4f78f0f73618ba.jpg</string>
		<key>title</key>
		<string>西塔斗牛家</string>
		<key>price</key>
		<string>89.5</string>
		<key>buyCount</key>
		<string>6838</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>63d9f2d3572c11df18c2fa0f642762d0f703c28f.jpg</string>
		<key>title</key>
		<string>米斯特比萨</string>
		<key>price</key>
		<string>88</string>
		<key>buyCount</key>
		<string>456</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>b21c8701a18b87d61cc24dfb000828381e30fd56.jpg</string>
		<key>title</key>
		<string>鱼头虾尾</string>
		<key>price</key>
		<string>51.9</string>
		<key>buyCount</key>
		<string>1486</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>b3b7d0a20cf431ad99446bbd4836acaf2fdd989b.jpg</string>
		<key>title</key>
		<string>韩都黑牛の店</string>
		<key>price</key>
		<string>78.9</string>
		<key>buyCount</key>
		<string>778</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>37d3d539b6003af3d7d18084332ac65c1138b6ef.jpg</string>
		<key>title</key>
		<string>元太祖</string>
		<key>price</key>
		<string>30</string>
		<key>buyCount</key>
		<string>72</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>30adcbef76094b364497a81ba4cc7cd98d109d3b.jpg</string>
		<key>title</key>
		<string>木槿花韩式自助烤肉火锅</string>
		<key>price</key>
		<string>43</string>
		<key>buyCount</key>
		<string>197</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>b3fb43166d224f4a7e3192ba0ef790529922d1eb.jpg</string>
		<key>title</key>
		<string>小韩山烤涮自助</string>
		<key>price</key>
		<string>44.5</string>
		<key>buyCount</key>
		<string>122</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>f9dcd100baa1cd11a042ab06be12c8fcc3ce2d24.jpg</string>
		<key>title</key>
		<string>比尔森健康烤肉</string>
		<key>price</key>
		<string>54</string>
		<key>buyCount</key>
		<string>604</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>f703738da977391228bcd799fe198618377ae2b4.jpg</string>
		<key>title</key>
		<string>米旗</string>
		<key>price</key>
		<string>96</string>
		<key>buyCount</key>
		<string>114</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>43a7d933c895d1437146d99f74f082025aaf075d.jpg</string>
		<key>title</key>
		<string>爱斯米牛排自助</string>
		<key>price</key>
		<string>56.4</string>
		<key>buyCount</key>
		<string>529</string>
	</dict>
</array>
</plist>
