<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icons</key>
		<string>1464068536867.png</string>
		<key>intro</key>
		<string>在战场中，她是一位擅长控场的法师，可以将脚下的土地编织成致命的武器。一旦她决定了自己的去向，大地便会为她架桥开路，保驾护航。</string>
		<key>name</key>
		<string>岩雀-塔莉垭</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1458897565161.png</string>
		<key>intro</key>
		<string>自从降生于太息之初，他便在无垠的空无中遨游，寻觅着散落于广袤深空中可称奇伟的光华，渲染他亘古凭飞的漫卷长天。正如星空之龙来自天外，奥瑞利安•索尔从未遇见过任何能与之比肩的存在。</string>
		<key>name</key>
		<string>索尔-铸星龙王</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1456128461876.png</string>
		<key>intro</key>
		<string>作为一名心思缜密的癫狂杀手，烬坚信谋杀是一门艺术。他曾在艾欧尼亚的监狱中服刑，但却因为执政议会里涌动着的暗流而得到释放，成为了权术斗争所利用的刺客。</string>
		<key>name</key>
		<string>烬-戏命师</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1447226977586.png</string>
		<key>intro</key>
		<string>俄洛伊的体格强横无比，却唯独会在她的坚定信仰面前屈身。作为大海兽的先知，她挥舞着一个巨大的金色神像，将敌人的灵魂抽离体外，将他们对现实的感知完全击毁。</string>
		<key>name</key>
		<string>俄洛伊-海兽祭司</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1409136231951.png</string>
		<key>intro</key>
		<string>丛林不会原谅盲目与无知。每根断枝都在讲述着故事。——纳尔</string>
		<key>name</key>
		<string>纳尔-迷失之牙</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1400123196470.png</string>
		<key>intro</key>
		<string>在弗雷尔卓德的冰冷山峰，布隆的故事开始了。他的传奇壮举激励着这里的所有人。他已准备好带着他的盾牌再上沙场，他知道他身上有着弗雷尔卓德人民的崇敬与希望。&quot;。</string>
		<key>name</key>
		<string>布隆-弗雷尔卓德之心</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1385536285032.png</string>
		<key>intro</key>
		<string>“我的逃亡之旅到底还需要持续多久？即使是最强之风，终有一天也会在瓦罗兰大陆中逝去”-亚索</string>
		<key>name</key>
		<string>亚索-疾风剑豪</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1381398467886.png</string>
		<key>intro</key>
		<string>金克丝活着就是为了不计后果的四处肆虐，在她身后留下的只有一片混乱与恐慌。她是一名暴躁而残忍的罪犯，她蔑视一切仅仅是因为无聊，她会在她认为最无趣的地方：皮尔特沃夫。</string>
		<key>name</key>
		<string>金克丝-暴走萝莉</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1376619482925.png</string>
		<key>intro</key>
		<string>卢锡安使用的是拥有传承力量的神圣武器，并成为对付不死族群的卫士。 他冷静而强大，面对无尽的恐怖时仍然可以惩罚对手通过其拥有的驱除之火。</string>
		<key>name</key>
		<string>卢锡安-圣枪游侠</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>1371093644361.png</string>
		<key>intro</key>
		<string>“战者，或为荣耀，或为赞颂。然此皆仅为战所存也。”——亚托克斯</string>
		<key>name</key>
		<string>暗裔剑魔·亚托克斯</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>231871561051.png</string>
		<key>intro</key>
		<string>闭上眼睛，让寒冷将你夺去。”——丽桑卓</string>
		<key>name</key>
		<string>冰霜女巫·丽桑卓</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>228242993255.png</string>
		<key>intro</key>
		<string>“即使你没有脊柱，你依然必须站起来。”—扎克</string>
		<key>name</key>
		<string>生化魔人扎克</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>225382419902.png</string>
		<key>intro</key>
		<string>大多数士兵会依赖他们的武器。只有少数人才会真正地相互依赖。——奎因</string>
		<key>name</key>
		<string>德玛西亚之翼·奎因</string>
	</dict>
	<dict>
		<key>icons</key>
		<string>222714396868.png</string>
		<key>intro</key>
		<string>魂锁典狱长的过去鲜为人知，并且大多数细节只存在于童谣和传闻中。它们讲述着一个丧心病狂的狱卒的故事。</string>
		<key>name</key>
		<string>魂锁典狱长·锤石</string>
	</dict>
</array>
</plist>
